[Desktop Entry]
Type=Application
Name=LunaDash
Comment=An XML configured MQTT Dashboard.
Exec=LunaDash %f
MimeType=text/x-ldash;
Terminal=false
Categories=Science;DataVisualization;
Icon=/usr/share/pixmaps/LunaDash-icon-256x256.png
